---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import banner from "../assets/banner.png";
import construccion from "../assets/construccion.png";
import background from "../assets/BACGROUND.png";
import obj1 from "../assets/Group 2.svg";
import obj2 from "../assets/Capa_1.svg";
import obj3 from "../assets/Capa_2.svg";
---

<Layout>
  <main
    class="bg-background text-texto font-sans min-h-screen flex flex-col gap-12"
  >
    <Nav />

    <section
      id="inicio"
      class="flex flex-col items-center text-center pt-40 gap-10 px-6 md:px-6 py-6"
    >
      <h2 class="text-nav-bg text-sm md:text-base tracking-widest">
        EL FUTURO SE PROGRAMA LÍNEA POR LÍNEA.
      </h2>
      <a
        href="#nosotros"
        class="bg-nav-bg text-nav-text text-sm font-bold px-6 py-3 rounded-full transition duration-300 hover:bg-nav-text hover:text-nav-bg"
      >
        HAZLO POSIBLE
      </a>

      <!-- Banner -->
      <section class="flex w-full">
        <img
          src={banner.src}
          alt="Banner"
          class="w-full object-contain md:object-cover object-center"
        />
      </section>
    </section>

    <!-- Nosotros -->
    <section
      id="nosotros"
      class="flex flex-col md:flex-row justify-center items-center gap-10 max-w-6xl mx-auto px-6 md:px-6 py-6 min-h-screen"
    >
      <img src={construccion.src} alt="Ilustración" class="w-72 md:w-[420px]" />
      <div class="max-w-lg text-center md:text-left">
        <h3 class="text-3xl font-bold text-nav-bg mb-4">¿Quiénes Somos?</h3>
        <p class="text-lg leading-relaxed text-texto mb-6 font-semibold ">
          FRONTEND nace con el compromiso de fortalecer el ecosistema del
          desarrollo de software en el Perú, integrando la cultura del Perú con
          la innovación tecnológica. Queremos representar el crecimiento digital
          del país sin perder nuestras raíces, inspirándonos en los elementos
          que definen la identidad peruana en su esencia más auténtica.
        </p>
        <a
          href="/"
          class="border-2 border-nav-bg px-5 py-2 rounded-full text-nav-bg font-bold hover:bg-nav-bg hover:text-background transition"
        >
          FORMAR PARTE
        </a>
      </div>
    </section>

    <!-- Objetivos -->
    <section
      class="flex flex-col relative justify-center items-center gap-10 w-full overflow-hidden min-h-screen"
    >
      <img
        src={background.src}
        alt="Fondo decorativo"
        class="absolute top-0 left-0 w-full h-full object-cover z-0"
      />
      <div class="relative z-10 flex flex-col items-center text-center p-6 c">
        <h3 class="text-4xl font-bold text-texto mb-16">Nuestros Objetivos</h3>
        <div
          class="flex flex-col md:flex-row gap-12 md:gap-16 justify-center items-stretch max-w-5xlf"
        >
          <!-- Objetivo 1 -->
          <div class="flex flex-col items-center text-center">
            <div
              class="bg-nav-bg p-4 rounded-xl mb-4 flex items-center justify-center"
            >
              <img src={obj1.src} alt="Difusión" class="w-16 h-16" />
            </div>
            <p class="text-lg text-texto font-semibold leading-relaxed">
              Difundir las tecnologías Web Front-end en el ámbito tecnológico y
              emprendimientos a nivel nacional.
            </p>
          </div>

          <!-- Objetivo 2 -->
          <div class="flex flex-col items-center text-center">
            <div
              class="bg-nav-bg p-4 rounded-xl mb-4 flex items-center justify-center"
            >
              <img src={obj2.src} alt="Herramientas" class="w-16 h-16" />
            </div>
            <p class="text-lg text-texto font-semibold leading-relaxed">
              Permitir a los profesionales y emprendedores del país el
              desarrollo de sus actividades usando herramientas y procedimientos
              actuales.
            </p>
          </div>

          <!-- Objetivo 3 -->
          <div class="flex flex-col items-center text-center">
            <div
              class="bg-nav-bg p-4 rounded-xl mb-4 flex items-center justify-center"
            >
              <img src={obj3.src} alt="Contribución" class="w-16 h-16" />
            </div>
            <p class="text-lg text-texto font-semibold leading-relaxed">
              Contribuir con nuestra sociedad en compartir conocimiento,
              emprendimiento, tecnología y networking.
            </p>
          </div>
        </div>
      </div>
    </section>
     <!-- Nosotros -->
     <section
     id="nosotros"
     class="flex flex-col md:flex-row justify-center items-center gap-10 max-w-6xl mx-auto px-6 md:px-6 py-6 min-h-screen"
   >
     <img src={construccion.src} alt="Ilustración" class="w-72 md:w-[420px]" />
     <div class="max-w-xl text-center md:text-left">
       <h3 class="text-3xl font-bold text-nav-bg mb-4">¿Quiénes Somos?</h3>
       <p class=" flex text-sm leading-relaxed text-texto mb-6 font-semibold">
         FRONTEND nace con el compromiso de fortalecer el ecosistema del
         desarrollo de software en el Perú, integrando la cultura del Perú con
         la innovación tecnológica. Queremos representar el crecimiento digital
         del país sin perder nuestras raíces, inspirándonos en los elementos
         que definen la identidad peruana en su esencia más auténtica.
       </p>
       <a
         href="/"
         class="border-2 border-nav-bg px-5 py-2 rounded-full text-nav-bg font-bold hover:bg-nav-bg hover:text-background transition"
       >
         FORMAR PARTE
       </a>
     </div>
   </section>

  </main>
</Layout>
